body{
    margin-left: 50px;
    margin-right: 50px;
}
.headline{
    background-color: #F0F0F0;
    color: #A4A400;
    width: 100%;
    text-decoration: underline;
}
.headline > h2{
    margin: auto;
    width: 24%;
}
.img{
    margin-top: 20px;
    border-bottom: 4px solid #F0F0F0;
}
.img li{
    list-style: none;
    width: 200px;
    margin-left: -40px;
}
.headline ul{
    background-color: white;
}
#ingredients{
    margin-top: 20px;
    border-bottom: 4px solid #F0F0F0;
}
#direction{
    margin-top: 20px;
    border-bottom: 4px solid #F0F0F0;
}